@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}


body {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
   
}

header {
    margin: 0 auto;

}

.conteudo .dev h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: bolder;

}

.conteudo .front h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bolder;
}

.conteudo .p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    right: 80px;

}


.conteudo {
    text-align: center;
    transform: translateY(250px);
}

.sub{
color: rgb(199, 198, 198);
}


span {
    color: rgb(0, 60, 255);
}


a {
    text-decoration: none;
}

/* conteudo3 */

.conteudo3 {
text-align: center;
transform: translateY(380px);

}

#imgg1  {
background-image: linear-gradient(to bottom,black, rgb(3, 3, 3),rgb(56, 56, 56));
border-radius: 10px;
width: 330px;
height: 200px;
padding: 10px;
margin: 0 auto;
}

#imgg2 {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 330px;
    height: 200px;
    padding: 10px;
    margin: 100px auto;
}

#imgg3 {
    background-color: rgb(8, 8, 8);
    border-radius: 10px;
    width: 330px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
}

.conteudo3 img {
position: relative;
top: 0px;
right: 10px;

}

.projeto {
font-family: Arial, Helvetica, sans-serif;
font-size: 29px;
margin-top: 158px;
margin-bottom: 50px;
}


.conteudo3 img {
margin-bottom: 160px;
}

/* conteudo4 */

.conteudo4 {
margin: 450px auto;
}
.conteudo4 h1 {
position: relative;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 42px;
}

.conteudo4 h2 {
color: rgb(6, 114, 255);
margin-bottom: 0px;
font-family: "Roboto Slab", serif;

}

.conteudo4 p {
text-align: center;
margin: 0 15px;
font-family: "Open Sans", sans-serif;
font-size: 15px;
color: rgb(254, 255, 255);
}

.conteudo4 .cs {
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

.conteudo4 img {
margin: 3px auto;
}

.conteudo4 .cs {
background-image: url(imagens/gifff.gif);
border-radius: 20px;
width: 300px;
height: 450px;
margin: 80px auto;
box-shadow: 1px 1px 20px 10px  rgba(0, 0, 0, 0.61);
cursor: pointer;
transition: 0.2s;
}

/* rodapé */

footer {
background-image: url(imagens/1pX9.gif);
padding: 50px;
}
.rodape {
margin: 0 auto;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rodape a {
margin: 0 30px;
}

footer p {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
text-align: center;
font-weight: bolder;
}

footer span {
background-color: rgb(16, 108, 245);
color: rgb(255, 235, 235);
font-size: 13px;
}

/* hovers */
.conteudo4 .cs:hover{
width: 350px;
height: 500px;
color: rgb(238, 238, 238);
background-image: url(imagens/ewrkWp.gif);

}

.front img:hover {
background-color: rgba(6, 77, 255, 0.281);
border-radius: 20px;
padding: 5px;
transition: 0.5s;
}

footer img:hover {
background-color: rgb(0, 81, 255);
border-radius: 5px;


}